<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <% include ../static/partials/messages.ejs %>

          <!-- <h1>Shuls</h1> -->

            <h1>Shuls</h1>
            <hr>
            <!-- <div class="row">

              <div class="col-lg-12 col text-left align-self-center">
                <button class="btn btn-secondary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width: 180px; margin-bottom: 10px">
                  <b>Term / Icon Glossary</b> <i class="fas fa-caret-down"></i>
                </button>
              </div>
            </div> -->


          <!-- glossary -->

          <div class="collapse" id="collapseExample" style="margin-top: 8px">

          <div class="card text-white bg-secondary mb-3">
            <div class="card-body">

              <small>
                <table class="table table-sm table-plain" style="border-color: transparent">
                  <thead style="text-align:center">
                    <tr>
                      <th colspan="2">Size
                        <div style="font-weight:normal">Size of women's section relative to men's</div>
                      </th>
                      <th colspan="4">Kaddish
                        <div style="font-weight:normal">Can women say kaddish? without men?</div>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    </tr>
                    <tr>
                      <td><b>XS</b></td>
                      <td>Much smaller</td>
                      <td class="stars">
                        <i class="fa fa-check" style="vertical-align: middle;"></i>
                      </td>
                      <td>...</td>
                      <td colspan="2">
                        Women can say kaddish...
                      </td>
                    </tr>
                    <tr>
                      <td><b>S</b></td>
                      <td>Somewhat smaller</td>
                      <td>...</td>
                      <td class="stars">
                        | <small> <small><small><i class="fa fa-minus"></i> </small></small><i class="fa fa-male"></i></small>
                      </td>
                      <td>...</td>
                      <td>
                        without men
                      </td>
                    </tr>
                    <tr>
                      <td><b>M</b></td>
                      <td>Same size</td>
                      <td>...</td>
                      <td class="stars">
                        | <small> <small><small><i class="fa fa-plus"></i> </small></small><i class="fa fa-male"></i></small>
                      </td>
                      <td>...</td>
                      <td>
                        with men
                      </td>
                    </tr>
                    <tr>
                      <td><b>L</b></td>
                      <td>Larger</td>
                      <td>...</td>
                      <td>
                        | <small> <small><small><i class="fa fa-plus"></i> </small></small><i class="fa fa-male"></i><small style="vertical-align: super;"><small style="vertical-align: super;"><small> <i class="fa fa-star-of-life"></i></small></small></small></small>
                      </td>
                      <td>...</td>
                      <td>
                        A man always says kaddish; women can join
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>...</td>
                      <td>
                        | <small><i class="fa fa-question" aria-hidden="true"></i></small>
                      </td>
                      <td>...</td>
                      <td>
                        Unknown if women can say kaddish without men
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="stars">
                        <i class="fa fa-times" style="vertical-align: middle;"></i>
                      </td>
                      <td></td>
                      <td colspan="2">
                        Women cannot say kaddish
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="stars">
                        <i class="fa fa-question" style="vertical-align: middle;"></i>
                      </td>
                      <td></td>
                      <td colspan="2">
                        Unknown if women can say kaddish
                      </td>
                    </tr>
                  </tbody>
                </table>
              </small>

            </div>
          </div>
        </div>


        <!-- shuls -->

        <div class="table-responsive">
          <div id="sample2">
            <table style="width:100%" class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col" colspan="3">General Info</th>
                  <th scope="col" colspan="4">Women's Section(s)</th>
                  <th scope="col" colspan="3">Other Info</th>
                </tr>
                <tr class="thead-dark">

                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Shul's name"><b>Name</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Shul's city"><b>City</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Shul's nussach"><b>Nussach</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Name of each room in the shul"><b>Room Name</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Size of women's section relative to men's section"><b>Size</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Location of women's section"><b>Layout</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="How easy it is to see and hear from the women's section"><b>Visibility/Audibility</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" data-html="true" title="Can women say kaddish? <br> ...without men?" ><b>Kaddish</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Are there any women in leadership positions?"><b>Fem Ldshp</b></small></th>
                  <th scope="col"><small data-toggle="tooltip" data-placement="bottom" title="Is there an on-site childcare program?"><b>Childcare</b></small></th>
                </tr>
              </thead>
              <% shuls.forEach((shul) => { %>
                <tr class="table-secondary">
                  <td><b><%= shul.name %></b></td>
                  <% var shulCity = "" %>
                  <% if(shul.cityId === 1){ %>
                    <% shulCity = "Bergenfield, NJ, USA" %>
                  <% } else if (shul.cityId === 2){ %>
                    <% shulCity = "Teaneck, NJ, USA" %>
                  <% } %>
                  <td><%= shulCity %></td>
                  <td><%= shul.nussach %></td>
                  <td colspan="4"></td>
                  <td style="text-align:center">
                    <% if(shul.kaddishGeneral === 1){ %>
                      <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Women can say kaddish"></i>
                      <% if(shul.kaddishAlone === 1){ %>
                        | <small data-toggle="tooltip" data-placement="bottom" title="Women can say kaddish alone (without men)"> <small><small><i class="fa fa-minus"></i> </small></small><i class="fa fa-male"></i></small>
                      <% } else if (shul.kaddishAlone === 2){ %>
                        | <small data-toggle="tooltip" data-placement="bottom" title="Women can say kaddish with men"> <small><small><i class="fa fa-plus"></i> </small></small><i class="fa fa-male"></i></small>
                      <% } else if (shul.kaddishAlone === 3){ %>
                        | <small data-toggle="tooltip" data-placement="bottom" title="A man always says kaddish"> <small><small><i class="fa fa-plus"></i> </small></small><i class="fa fa-male"></i><small style="vertical-align: super;"><small style="vertical-align: super;"><small> <i class="fa fa-star-of-life"></i></small></small></small></small >
                      <% } else if (shul.kaddishAlone === 4){ %>
                        | <small data-toggle="tooltip" data-placement="bottom" title="Unknown if women can say kaddish without men"><i class="fa fa-question" aria-hidden="true"></i></small>

                      <% } %>
                    <% } else if (shul.kaddishGeneral === 2){ %>
                      <i class="fa fa-times" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Women cannot say kaddish"></i>
                    <% } else if (shul.kaddishGeneral === 3){ %>
                      <small data-toggle="tooltip" data-placement="bottom" title="Unknown if women can say kaddish"><i class="fa fa-question" aria-hidden="true"></i></small>
                    <% } %>
                  </td>
                  <td style="text-align:center">
                    <% if(shul.femaleLeadership === 1){ %>
                      <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="There is at least one woman in a leadership postion"></i>
                    <% } else if (shul.femaleLeadership === 2){ %>
                      <i class="fa fa-times" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="There are no women in leadership positions"></i>
                    <% } else if (shul.femaleLeadership === 3){ %>
                      <small><i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Unknown if there are women in leadership positions"></i></small>
                    <% } %>
                  </td>

                  <td style="text-align:center">
                    <% if(shul.childcare === 1){ %>
                      <i class="fa fa-check" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="There is an on-site childcare program"></i>
                    <% } else if (shul.childcare === 2){ %>
                      <i class="fa fa-times" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="There is no on-site childcare program"></i>
                    <% } else if (shul.childcare === 3){ %>
                      <small><i class="fa fa-question" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Unknown if there is an on-site childcare program"></i></small>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" rowspan="<%= shul.rooms.length %>" class="buffer-cell-1">
                    <button type="button" class="btn btn-outline-primary btn-xs">
                      <small><i class="fa fa-edit" aria-hidden="true"></i> Edit</small>
                    </button>
                  </td>

                  <% fillRoomRow(shul.rooms[0]); %>

                  <td colspan="3" rowspan="<%= shul.rooms.length %>"></td>
                </tr>

                <% for (let i = 1; i < shul.rooms.length; i++){ %>
                  <% var currRoom = shul.rooms[i]; %>
                  <tr>

                    <% fillRoomRow(currRoom); %>

                  </tr>
                <% } %>
              <% }) %>
            </table>
          </div>

        </div>

      </main>
      <!-- /.container -->

      <% function fillRoomRow(room){ %>
        <td class="room-name"><small style="vertical-align:super"><b><%= room.roomName %></b></small></td>
        <td style=" text-align:center;">
          <div class="size-tag">
            <small style="vertical-align:super;">
              <% if(room.size === 1) { %>
                <b data-toggle="tooltip" data-placement="bottom" title="Much smaller than men's section">XS</b>
              <% } %>
              <% if(room.size === 2) { %>
                <b data-toggle="tooltip" data-placement="bottom" title="Somewhat smaller than men's section">S</b>
              <% } %>
              <% if(room.size === 3) { %>
                <b data-toggle="tooltip" data-placement="bottom" title="Same size as men's section">M</b>
              <% } %>
              <% if(room.size === 4) { %>
                <b data-toggle="tooltip" data-placement="bottom" title="Larger than men's section">L</b>
              <% } %>
            </small>
          </div>

        </td>
        <td style="vertical-align: super">
          <small style="padding:0">


            <% var sameFloorStr = ""; %>
            <% var elevatedStr = ""; %>
            <% var balconyStr = ""; %>
            <% if (room.sameFloorSide) { %>
              <% sameFloorStr = sameFloorStr.concat("Side, ") %>
            <% } %>
            <% if (room.sameFloorBack) { %>
              <% sameFloorStr = sameFloorStr.concat("Back, ") %>
            <% } %>
            <% if (room.sameFloorCentered) { %>
              <% sameFloorStr = sameFloorStr.concat("Centered, ") %>
            <% } %>
            <% if (room.elevatedSide) { %>
              <% elevatedStr = elevatedStr.concat("Side, ") %>
            <% } %>
            <% if (room.elevatedBack) { %>
              <% elevatedStr = elevatedStr.concat("Back, ") %>
            <% } %>
            <% if (room.elevatedCentered) { %>
              <% elevatedStr = elevatedStr.concat("Centered, ") %>
            <% } %>
            <% if (room.balconySide) { %>
              <% balconyStr = balconyStr.concat("Side, ") %>
            <% } %>
            <% if (room.balconyBack) { %>
              <% balconyStr = balconyStr.concat("Back, ") %>
            <% } %>


            <% if(sameFloorStr.length > 0) { %>
              <div class="row">
                <div class="col-lg-5" style="padding-right:0">Same Floor:</div>
                <div class="col-lg-7"><%= sameFloorStr.slice(0, sameFloorStr.length-2) %></div>
              </div>
              <% if(elevatedStr.length > 0 || balconyStr.length > 0 || room.noWomenSection){ %>
                <hr style="margin:0">
              <% } %>
            <% } %>
            <% if(elevatedStr.length > 0) { %>
              <div class="row">
                <div class="col-lg-5" style="padding-right:0">Elevated:</div>
                <div class="col-lg-7"><%= elevatedStr.slice(0, elevatedStr.length-2) %></div>
              </div>
              <% if(balconyStr.length > 0 || room.noWomenSection){ %>
                <hr style="margin:0">
              <% } %>
            <% } %>
            <% if(balconyStr.length > 0) { %>
              <div class="row">
                <div class="col-lg-5" style="padding-right:0">Balcony:</div>
                <div class="col-lg-7"><%= balconyStr.slice(0, balconyStr.length-2) %></div>
              </div>
              <% if(room.noWomenSection){ %>
                <hr style="margin:0">
              <% } %>
            <% } %>
            <% if(room.noWomenSection) { %>
              <div class="row">
                <div class="col-lg-5" style="padding-right:0">No wom. sec.</div>
                <div class="col-lg-7">--</div>
              </div>
            <% } %>
          </small>
        </td>
        <td >
          <small>
            <small class="stars" style="vertical-align:super">
              <!-- <div class="row"> -->
                <!-- <div class="col-lg-5" style="padding-right:0"> -->

                  <% if(room.avgAudVisRating === 0) { %>
                    --
                  <% } else { %>
                    <% for(let i = 0; i <= room.avgAudVisRating-1; i++) { %>
                      <i class="fa fa-star checked" aria-hidden="true"></i>
                    <% } %>
                    <% for(let i = 5; i > room.avgAudVisRating; i--) { %>
                      <i class="far fa-star checked"></i>
                      <!-- <i class="fa fa-star-o unchecked" aria-hidden="true"></i> -->
                    <% } %>
                  <% } %>
                <!-- </div> -->
                <!-- <div class="col-lg-7 align-right"> -->
                <span style="float:right;">

                  <button type="button" class="btn btn-outline-primary btn-xs">
                    <small>  <i class="fa fa-star" aria-hidden="true"></i> Add Rating</small>
                  </button>
                <!-- </div> -->
              <!-- </div> -->
            </small>
          </small>
        </td>
      <% } %>

      <% include ../static/partials/baseScripts.ejs %>

    </body>
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
</html>
